In [36]:
import pandas as pd
from datetime import datetime, timedelta
import requests
from io import StringIO
from bs4 import BeautifulSoup
from lxml import html

In [37]:
base_url = "https://www.carone.com.ar"

## ETL de los links de usados y 0km

### usando https://www.carone.com.ar/categoria-producto/0km/ para obtener la lista de autos 0km

In [38]:
okm_model_links = []

i = 0
while True:
    res = requests.get(f"{base_url}/categoria-producto/0km/page/{i+1}/")
    print(f"{base_url}/categoria-producto/0km/page/{i+1}/")
    if res.status_code != 200:
        break

    soup = BeautifulSoup(res.text, "html.parser")
    tree = html.fromstring(res.content)
    div_col_12_elements = tree.xpath('//div[contains(@class, "col-12")]')
    okm_page_links = [div.xpath('.//a/@href') for div in div_col_12_elements]
    okm_linkss = set([link[0] for link in okm_page_links if link != []])

    i += 1

    for link in okm_linkss:
#       print({'type': '0km','link_web': link})
      model_dict = {
          'type': '0km',
          'link_web': link
      }
      okm_model_links.append(model_dict)

https://www.carone.com.ar/categoria-producto/0km/page/1/
https://www.carone.com.ar/categoria-producto/0km/page/2/
https://www.carone.com.ar/categoria-producto/0km/page/3/
https://www.carone.com.ar/categoria-producto/0km/page/4/
https://www.carone.com.ar/categoria-producto/0km/page/5/
https://www.carone.com.ar/categoria-producto/0km/page/6/
https://www.carone.com.ar/categoria-producto/0km/page/7/
https://www.carone.com.ar/categoria-producto/0km/page/8/
https://www.carone.com.ar/categoria-producto/0km/page/9/
https://www.carone.com.ar/categoria-producto/0km/page/10/
https://www.carone.com.ar/categoria-producto/0km/page/11/
https://www.carone.com.ar/categoria-producto/0km/page/12/
https://www.carone.com.ar/categoria-producto/0km/page/13/
https://www.carone.com.ar/categoria-producto/0km/page/14/
https://www.carone.com.ar/categoria-producto/0km/page/15/
https://www.carone.com.ar/categoria-producto/0km/page/16/
https://www.carone.com.ar/categoria-producto/0km/page/17/
https://www.carone.com.ar/categoria-producto/0km/page/18/
https://www.carone.com.ar/categoria-producto/0km/page/19/
https://www.carone.com.ar/categoria-producto/0km/page/20/
https://www.carone.com.ar/categoria-producto/0km/page/21/
https://www.carone.com.ar/categoria-producto/0km/page/22/
https://www.carone.com.ar/categoria-producto/0km/page/23/
https://www.carone.com.ar/categoria-producto/0km/page/24/
https://www.carone.com.ar/categoria-producto/0km/page/25/

### obtenemos los links para cada modelo 0km y los almacenamos en un dataframe

In [39]:
df_okm_model_links = pd.DataFrame(okm_model_links)
df_okm_model_links

    type                                           link_web
0    0km  https://www.carone.com.ar/producto/alaskan-con...
1    0km  https://www.carone.com.ar/producto/alaskan-0km...
2    0km  https://www.carone.com.ar/producto/tiguan-life...
3    0km  https://www.carone.com.ar/producto/alaskan-con...
4    0km  https://www.carone.com.ar/producto/alaskan-0km...
..   ...                                                ...
280  0km  https://www.carone.com.ar/producto/pulse-impet...
281  0km  https://www.carone.com.ar/producto/pulse-drive...
282  0km  https://www.carone.com.ar/producto/cronos-0km-...
283  0km  https://www.carone.com.ar/producto/pulse-drive...
284  0km  https://www.carone.com.ar/producto/cronos-driv...

[285 rows x 2 columns]

### usando https://www.carone.com.ar/categoria-producto/usados/ para obtener la lista de autos usados

In [40]:
used_model_links = []

i = 0
while True:
    res = requests.get(f"{base_url}/categoria-producto/usados/page/{i+1}/")
    print(f"{base_url}/categoria-producto/usados/page/{i+1}/")
    if res.status_code != 200:
        break

    soup = BeautifulSoup(res.text, "html.parser")
    tree = html.fromstring(res.content)
    div_col_12_elements = tree.xpath('//div[contains(@class, "col-12")]')
    used_page_links = [div.xpath('.//a/@href') for div in div_col_12_elements]
    used_linkss = set([link[0] for link in used_page_links if link != []])

    i += 1

    for link in used_linkss:
#       print({'type': 'usados','link_web': link})
      model_dict = {
          'type': 'usados',
          'link_web': link
      }
      used_model_links.append(model_dict)

https://www.carone.com.ar/categoria-producto/usados/page/1/
https://www.carone.com.ar/categoria-producto/usados/page/2/
https://www.carone.com.ar/categoria-producto/usados/page/3/
https://www.carone.com.ar/categoria-producto/usados/page/4/
https://www.carone.com.ar/categoria-producto/usados/page/5/
https://www.carone.com.ar/categoria-producto/usados/page/6/
https://www.carone.com.ar/categoria-producto/usados/page/7/
https://www.carone.com.ar/categoria-producto/usados/page/8/
https://www.carone.com.ar/categoria-producto/usados/page/9/
https://www.carone.com.ar/categoria-producto/usados/page/10/
https://www.carone.com.ar/categoria-producto/usados/page/11/
https://www.carone.com.ar/categoria-producto/usados/page/12/
https://www.carone.com.ar/categoria-producto/usados/page/13/
https://www.carone.com.ar/categoria-producto/usados/page/14/
https://www.carone.com.ar/categoria-producto/usados/page/15/
https://www.carone.com.ar/categoria-producto/usados/page/16/
https://www.carone.com.ar/categoria-producto/usados/page/17/
https://www.carone.com.ar/categoria-producto/usados/page/18/
https://www.carone.com.ar/categoria-producto/usados/page/19/
https://www.carone.com.ar/categoria-producto/usados/page/20/
https://www.carone.com.ar/categoria-producto/usados/page/21/
https://www.carone.com.ar/categoria-producto/usados/page/22/
https://www.carone.com.ar/categoria-producto/usados/page/23/

### obtenemos los links para cada modelo usado y los almacenamos en un dataframe

In [41]:
df_used_model_links = pd.DataFrame(used_model_links)
df_used_model_links

       type                                           link_web
0    usados  https://www.carone.com.ar/producto/renault-log...
1    usados  https://www.carone.com.ar/producto/renault-cli...
2    usados  https://www.carone.com.ar/producto/ford-ka-15-...
3    usados  https://www.carone.com.ar/producto/renault-kwi...
4    usados  https://www.carone.com.ar/producto/fiat-punto-...
..      ...                                                ...
248  usados  https://www.carone.com.ar/producto/peugeot-300...
249  usados  https://www.carone.com.ar/producto/volkswagen-...
250  usados  https://www.carone.com.ar/producto/ford-territ...
251  usados  https://www.carone.com.ar/producto/chevrolet-2...
252  usados  https://www.carone.com.ar/producto/volkswagen-...

[253 rows x 2 columns]

In [42]:
df_model_links = pd.concat([df_okm_model_links, df_used_model_links], ignore_index=True)
df_model_links

       type                                           link_web
0       0km  https://www.carone.com.ar/producto/alaskan-con...
1       0km  https://www.carone.com.ar/producto/alaskan-0km...
2       0km  https://www.carone.com.ar/producto/tiguan-life...
3       0km  https://www.carone.com.ar/producto/alaskan-con...
4       0km  https://www.carone.com.ar/producto/alaskan-0km...
..      ...                                                ...
533  usados  https://www.carone.com.ar/producto/peugeot-300...
534  usados  https://www.carone.com.ar/producto/volkswagen-...
535  usados  https://www.carone.com.ar/producto/ford-territ...
536  usados  https://www.carone.com.ar/producto/chevrolet-2...
537  usados  https://www.carone.com.ar/producto/volkswagen-...

[538 rows x 2 columns]

In [43]:
df_model_links.to_csv('../CSV/df_carone_model_links.csv', index=False)

### leemos el CSV "df_carone_model_links.csv" que contiene links de 0km y usados

In [44]:
df_all_model_links = pd.read_csv('../CSV/df_carone_model_links.csv')
df_all_model_links

       type                                           link_web
0       0km  https://www.carone.com.ar/producto/alaskan-con...
1       0km  https://www.carone.com.ar/producto/alaskan-0km...
2       0km  https://www.carone.com.ar/producto/tiguan-life...
3       0km  https://www.carone.com.ar/producto/alaskan-con...
4       0km  https://www.carone.com.ar/producto/alaskan-0km...
..      ...                                                ...
533  usados  https://www.carone.com.ar/producto/peugeot-300...
534  usados  https://www.carone.com.ar/producto/volkswagen-...
535  usados  https://www.carone.com.ar/producto/ford-territ...
536  usados  https://www.carone.com.ar/producto/chevrolet-2...
537  usados  https://www.carone.com.ar/producto/volkswagen-...

[538 rows x 2 columns]

### traemos solo los links de 0km

In [45]:
df_okm_links = df_all_model_links[df_all_model_links['type'] == '0km']
df_okm_links

    type                                           link_web
0    0km  https://www.carone.com.ar/producto/alaskan-con...
1    0km  https://www.carone.com.ar/producto/alaskan-0km...
2    0km  https://www.carone.com.ar/producto/tiguan-life...
3    0km  https://www.carone.com.ar/producto/alaskan-con...
4    0km  https://www.carone.com.ar/producto/alaskan-0km...
..   ...                                                ...
280  0km  https://www.carone.com.ar/producto/pulse-impet...
281  0km  https://www.carone.com.ar/producto/pulse-drive...
282  0km  https://www.carone.com.ar/producto/cronos-0km-...
283  0km  https://www.carone.com.ar/producto/pulse-drive...
284  0km  https://www.carone.com.ar/producto/cronos-driv...

[285 rows x 2 columns]

### luego realizamos una peticion get por cada url de 0km, y obtenemos los datos de cada modelo 0km

In [57]:
okm_models_description = []
# okm_links = [url['link_web'] for url in okm_model_links if url['type'] == '0km']

for link in list(df_okm_links['link_web'][0:10]):
  res = requests.get(link)
  soup = BeautifulSoup(res.text, "html.parser")
  tree = html.fromstring(res.content)
  model_name = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/h1/text()')
  # print(model_name[0].replace("\n"))
  model_version = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/span/text()')
  # print(model_version)
  model_features = tree.xpath('//ul[@class="box-table-ficha-tecnica"]/li/text()')
  model_price = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/p[2]/span/bdi/text()')

  for i, feat in enumerate(model_features):
        print(feat)
        okm_models_description.append({'Modelo': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Precio': model_price, 'Caja': "Nan", 'Cant. puertas': "Nan", 'Potencia': "Nan"})
#   if model_price == [] or model_caja == [] or model_puertas_count == [] or model_potencia == []:
#     print({'model_features': model_features})
#     print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price, 'model_caja': model_caja, 'model_puertas_count': model_puertas_count, 'model_potencia': model_potencia})
    
#     okm_models_description.append({'Modelo': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Precio': "Nan", 'Caja': "Nan", 'Cant. puertas': "Nan", 'Potencia': "Nan"})
#   elif model_price != [] or model_caja != [] or model_puertas_count != [] or model_potencia != []:
#     print({'model_features': model_features})
#     print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price, 'model_caja': model_caja, 'model_puertas_count': model_puertas_count, 'model_potencia': model_potencia})
    
#     okm_models_description.append({'Modelo': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Precio': model_price[0], 'Caja': model_caja[0], 'Cant. puertas': model_puertas_count[0].replace("Puertas: ", ""), 'Potencia': model_potencia[0].replace("Potencia: ", "")})

Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Trasera
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80
Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Doble
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80
Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Trasera
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80




Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Trasera
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80




Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Trasera
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80
Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Trasera
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80
Cilindrada: 2298
Cilindros: 4
VÃ¡lvulas: 16
Puertas: 4
TracciÃ³n: Trasera
Potencia: 160
Caja: Manual
Velocidades: 6
Alto: 1815
Largo: 5318
Ancho: 2085
Distancia de ejes: 3150
Tanque: 80

In [47]:
df_okm_models_description = pd.DataFrame(okm_models_description)
df_okm_models_description['type'] = "0km"
df_okm_models_description

,Model,Version,Price,Caja,Cant. puertas,Potencia,type
0,Renault Alaskan,Confort Mt 4x2,Nan,Nan,Nan,Nan,0km
1,Renault Alaskan,Confort Mt 4x4,Nan,Nan,Nan,Nan,0km
2,Volkswagen Tiguan Allspace,Life 350TSI,Nan,Nan,Nan,Nan,0km
3,Renault Alaskan,Confort Mt 4x2,Nan,Nan,Nan,Nan,0km
4,Renault Alaskan,Emotion Mt 4x2,Nan,Nan,Nan,Nan,0km
5,Renault Alaskan,Confort Mt 4x2,Nan,Nan,Nan,Nan,0km
6,Renault Alaskan,EMOTION 190 4WD,Nan,Nan,Nan,Nan,0km
7,Renault Alaskan,CONFORT 60 2WD,Nan,Nan,Nan,Nan,0km
8,Renault Alaskan,CONFORT 60 2WD,Nan,Nan,Nan,Nan,0km
9,Renault Alaskan,CONFORT 160 4WD,Nan,Nan,Nan,Nan,0km

### traemos solo los links de usados

In [48]:
df_usados_links = df_all_model_links[df_all_model_links['type'] == 'usados']
df_usados_links

       type                                           link_web
285  usados  https://www.carone.com.ar/producto/renault-log...
286  usados  https://www.carone.com.ar/producto/renault-cli...
287  usados  https://www.carone.com.ar/producto/ford-ka-15-...
288  usados  https://www.carone.com.ar/producto/renault-kwi...
289  usados  https://www.carone.com.ar/producto/fiat-punto-...
..      ...                                                ...
533  usados  https://www.carone.com.ar/producto/peugeot-300...
534  usados  https://www.carone.com.ar/producto/volkswagen-...
535  usados  https://www.carone.com.ar/producto/ford-territ...
536  usados  https://www.carone.com.ar/producto/chevrolet-2...
537  usados  https://www.carone.com.ar/producto/volkswagen-...

[253 rows x 2 columns]

In [49]:
usados_models_description = []
# okm_links = [url['link_web'] for url in okm_model_links if url['type'] == '0km']

for link in list(df_usados_links['link_web'][0:10]):
  res = requests.get(link)
  soup = BeautifulSoup(res.text, "html.parser")
  tree = html.fromstring(res.content)
  model_name = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/h1/text()')
  # print(model_name[0].replace("\n"))
  model_version = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/span/text()')
  # print(model_version)
#   model_features = tree.xpath('//ul[@class="box-table-ficha-tecnica"]/li/text()')
  model_year = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/div[1]/span/text()')
  model_kms = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/div[2]/span/text()')
  model_gas = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/div[3]/span/text()')

  if model_price == [] or model_year == [] or model_kms == [] or model_gas == []:
#     print({'model_features': model_features})
    print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price, 'model_year': model_year, 'model_kms': model_kms, 'model_gas': model_gas})
    usados_models_description.append({'Model': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Price': "Nan", 'Year': "Nan", 'Kms count': "Nan", 'Gas': "Nan"})
  elif model_price != [] or model_year != [] or model_kms != [] or model_gas != []:
#     print({'model_features': model_features})
    print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price, 'model_year': model_year, 'model_kms': model_kms, 'model_gas': model_gas})
    usados_models_description.append({'Model': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Price': model_price, 'Year': model_year, 'Kms count': model_kms, 'Gas': model_gas})

{'model_name': 'Renault Logan Ii', 'model_version': '1.6 8V AUTHENTIQUE PLUS', 'model_price': ['16.750.000'], 'model_year': ['2016'], 'model_kms': ['98.901'], 'model_gas': ['Nafta']}
{'model_name': 'Renault Clio Mio', 'model_version': 'EXPRESSION PACK I 5 PTAS', 'model_price': ['16.750.000'], 'model_year': ['2013'], 'model_kms': ['88.780'], 'model_gas': ['Nafta']}
{'model_name': 'Ford Ka', 'model_version': '1,5 SE', 'model_price': ['16.750.000'], 'model_year': ['2017'], 'model_kms': ['120.000'], 'model_gas': ['Nafta']}
{'model_name': 'Renault Kwid', 'model_version': '1.0 ZEN', 'model_price': ['16.750.000'], 'model_year': ['2018'], 'model_kms': ['55.726'], 'model_gas': ['Nafta']}
{'model_name': 'Fiat Punto', 'model_version': 'ESSENSE 1.6 16V', 'model_price': ['16.750.000'], 'model_year': ['2015'], 'model_kms': ['54.064'], 'model_gas': ['Nafta']}
{'model_name': 'Renault Kwid', 'model_version': '1.0 ICONIC', 'model_price': ['16.750.000'], 'model_year': ['2018'], 'model_kms': ['65.000'], 'model_gas': ['Nafta']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['16.750.000'], 'model_year': ['2017'], 'model_kms': ['140.900'], 'model_gas': ['Nafta']}
{'model_name': 'Volkswagen Up!', 'model_version': '3PTS MOVE', 'model_price': ['16.750.000'], 'model_year': ['2016'], 'model_kms': ['99.199'], 'model_gas': ['Nafta']}
{'model_name': 'Volkswagen Up!', 'model_version': '3PTS TAKE A/A', 'model_price': ['16.750.000'], 'model_year': ['2017'], 'model_kms': ['60.000'], 'model_gas': ['Nafta']}
{'model_name': 'Renault Clio Mio', 'model_version': 'EXPRESSION PACK II 3 PTAS', 'model_price': ['16.750.000'], 'model_year': ['2013'], 'model_kms': ['115.693'], 'model_gas': ['Nafta']}

In [50]:
df_usados_models_description = pd.DataFrame(usados_models_description)
df_usados_models_description['type'] = "usado"
df_usados_models_description

,Model,Version,Price,Year,Kms count,Gas,type
0,Renault Logan Ii,1.6 8V AUTHENTIQUE PLUS,[16.750.000],[2016],[98.901],[Nafta],usado
1,Renault Clio Mio,EXPRESSION PACK I 5 PTAS,[16.750.000],[2013],[88.780],[Nafta],usado
2,Ford Ka,"1,5 SE",[16.750.000],[2017],[120.000],[Nafta],usado
3,Renault Kwid,1.0 ZEN,[16.750.000],[2018],[55.726],[Nafta],usado
4,Fiat Punto,ESSENSE 1.6 16V,[16.750.000],[2015],[54.064],[Nafta],usado
5,Renault Kwid,1.0 ICONIC,[16.750.000],[2018],[65.000],[Nafta],usado
6,Volkswagen Gol,TREND 1.6 5 PTAS TRENDLINE,[16.750.000],[2017],[140.900],[Nafta],usado
7,Volkswagen Up!,3PTS MOVE,[16.750.000],[2016],[99.199],[Nafta],usado
8,Volkswagen Up!,3PTS TAKE A/A,[16.750.000],[2017],[60.000],[Nafta],usado
9,Renault Clio Mio,EXPRESSION PACK II 3 PTAS,[16.750.000],[2013],[115.693],[Nafta],usado

In [51]:
# df_all_model_description = pd.concat([df_okm_models_description, df_usados_models_description], ignore_index=True)
# # df_all_model_description[df_all_model_description['type'] == '0km']
# df_all_model_description

In [51]:
# df_all_models_cars = pd.merge(df_model_links, df_all_model_description, on="type", how="inner")
# df_all_models_cars